/*--------------------------------------------------------------
# Webkit-Scrollbar Styles
--------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(#393939, #000000);
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: radial-gradient(#393939, #000000);
}

::-webkit-scrollbar-track {
    background: #1a1b1f;
}

/*--------------------------------------------------------------
# Google Translate
--------------------------------------------------------------*/

.skiptranslate iframe,
.goog-te-banner-frame.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-OiiCO,
#goog-gt-tt,
#goog-gt-tt *,
#goog-gt-vt,
#goog-gt-vt * {
    display: none !important;
}

#google_translate_element select {
    background: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/

.back-login {
    text-align: center;
    display: block;
    margin-top: 20px;
    color: var(--text-color);
    text-decoration: none;
}
