@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --primary-color: #202123;
    --secondary-color: #45494c;
    --text-color: #f5f5f5;
}

body {
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.myForm {
    width: 240px;
    padding: 30px 50px 50px 25px;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.myForm:focus-within {
    position: relative;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
}

input {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

input:focus {
    outline: 2px solid #439fff;
    outline-offset: -1px;
}

#loginBtn {
    display: block;
    margin-top: 25px;
    width: 50%;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#repeatPasswordIdLabel,
#repeatPasswordIdInput {
    display: none;
}

#loginBtn:hover {
    outline: 2px solid #439fff;
    outline-offset: -1px;
}

#registerDiv {
    margin-top: 40px;
    display: block;
}

#loginDiv {
    margin-top: 40px;
    display: none;
}

#registerNowBtn,
#loginNowBtn {
    margin-top: 10px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    outline: none;
}

#registerNowBtn:hover,
#loginNowBtn:hover {
    color: #439fff;
    outline-offset: -1px;
}

.githubDiv {
    position: relative;
    margin-top: 40px;
}

.swal2-title,
.swal2-content {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    text-align: center;
}

.swal2-html-container {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.swal2-popup {
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
}
