body {
    background-color: #080710;
    margin: 0;
}
.user-login-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    background-position: center;
}
.form {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px 35px;
    font-family: sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.form h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: white;
    line-height: 42px;
    margin: 0;
}
span {
    font-size: 45px;
    font-weight: 900;
    color: #0468ff;
}
label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    border: none;
    color: black;
    box-sizing: border-box;
    border-radius: 20px;
}
input::placeholder {
    color: black;
}
input:hover {
    scale: 1.02;
}
button {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 10px solid rgb(0, 0, 0);
}
#loginBtn {
    background-color: green;
    color: white;
    box-shadow: 0 0 20px rgb(0, 255, 64);
}
#loginBtn:hover {
    scale: 1.02;
}
#registerNowBtn,
#loginNowBtn {
    box-shadow: 0 0 20px rgb(125, 255, 255);
}
#repeatPasswordIdLabel,
#repeatPasswordIdInput {
    display: none;
}
#supportBtn {
    box-shadow: 0 0 20px rgb(255, 110, 110);
}
#loginDiv {
    display: none;
}
