@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #202123;
    --secondary-color: #45494c;
    --accent-color: #316fb2;
    --hover-color: #439fff;
    --text-color: #f5f5f5;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 380px;
    height: 580px;
    background: var(--secondary-color);
    color: var(--text-color);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: var(--text-color);
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    outline: none;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: var(--hover-color);
}

button {
    width: 65%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: var(--text-color);
    background: #316fb2;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}

.login {
    height: 580px;
    background: var(--accent-color);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.login label {
    color: var(--text-color);
    transform: scale(0.6);
}

#chk {
    display: none;
}
#chk:checked ~ .login {
    transform: translateY(-580px);
}
#chk:checked ~ .login label {
    transform: scale(1);
}
#chk:checked ~ .signup label {
    transform: scale(0.6);
}

#loginBtn {
    background-color: var(--secondary-color) !important;
    cursor: pointer;
}
#loginBtn:hover {
    background-color: #439fff !important;
}
#forgotPasswordLink {
    text-align: center;
    display: block;
    margin-top: 15px;
    color: var(--text-color);
    font-size: 0.9em;
    text-decoration: none;
}

#supportBtn {
    margin-top: 30px;
    color: var(--text-color);
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#supportBtn:hover {
    transform: scale(0.95);
}

.terms-conditions {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-height: 400px;
    overflow-y: auto;
}

.terms-conditions h3 {
    margin-bottom: 15px;
    color: var(--hover-color);
    font-weight: 600;
}

.terms-conditions p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--text-color);
}

.swal2-title,
.swal2-content {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    text-align: center;
}

.swal2-html-container {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.swal2-popup {
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
}

.swal2-confirm {
    width: 100%;
}

.swal2-cancel,
.swal2-confirm {
    width: 120px;
}
